@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
    font-family: 'Press Start 2P', cursive;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.hiddenText {
    font-family: 'Press Start 2P', cursive;
    visibility: hidden;
}
